{extend name="public:cssjs" /}
{block name="css"}
<link  rel="stylesheet" href="/static/css/jquery.dropdown.css" />
<link rel="stylesheet" href="__PUBLIC__/css/inputting.css">
<style type="text/css">
	#permissions{
	    margin-left: 12px;
		margin-right: 10px;
	}
</style>
{/block}
{block name="main"}
<section id="page">
	<div class="container heightDataAll">
		<div class="row heightDataAll">
			<div id="content" class="col-lg-12">
				<!-- PAGE HEADER-->
				<div class="row">
					<div class="col-sm-12">
						<div class="page-header">
							<div class="clearfix">
								<h3 class="content-title pull-left">二代测试管理界面</h3>
							</div>
							<ul class="breadcrumb">
								<li>
									<span>您目前所在的位置:</span>
								<li><a href="#">系统管理</a></li>
								</li>
								</li>
								<li><a href="#">用户添加</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<!-- BOX -->
						<div class="box border">
							<div class="box-title">
								<h4><i class="fa fa-th"></i><span class="hidden-inline-mobile">用户添加</span></h4>
							</div>
							<div class="box-body">
								<div class="tabbable header-tabs">
									<ul class="nav nav-tabs">
									</ul>
								    <div class="tab-content">
									 	<div class="tab-pane fade in active" id="box_tab4">
									 	<!-- 临床信息录入  onkeydown="if(event.keyCode==13)return false;"-->
									 		<form action="{:url('Superconservator/SuperconservatorUserAdd')}" method="post" id="formID">
										 		<div class="clinical_listBox">
											 		<div class="clinical_inputting_info">
											 			<img src="__PUBLIC__/img/newIcon/avatar large.png" alt="">
											 			<span class="avatar_span1">用户添加基本信息</span>
											 			<span class="avatar_span2">（带*为必填选项）</span>
											 		</div>
												 	<div class="container">
														<div class="row inputting_rowList">
														  	<div class="col-md-12 .col-lg-12 .col-sm-12 ">
																<div class="row">
																  	<!-- 左侧 -->
																  	<div class="col-md-4 .col-lg-4 .col-sm-4">
															 			<div class="inputting_listTltie">* 账号</div>
															 			<div>
															 				<input class="inputting_listInput" type="text" name="account" id="account"/>
															 			</div>
																		<div class="inputting_listTltie">* 项目</div>
																		<div class="inputting_checkTltie">
																			<table id="example" cellpadding="0" cellspacing="0" border="0" class="table">
																				<thead id="volistThead">
																					<tr>
																						{volist name="project" id="pt" key="k"}
																						
																						<td>
																							<input type="checkbox" name="check[]" value="{$pt.id}" />
																							{$pt.projectname}
																						</td>
																						{if ( $k % 3 ==0 )}</tr><tr>{/if}
																						
								 														{/volist}
																					</tr>
																				</thead>
																			</table>
																			
																		</div>
	                                                    				<div class="inputting_listTltie">* 结算价</div>
																		<div>
																			<input class="inputting_listInput" type="text" name="settlementprice" id="settlementprice"/>
																		</div>
																		<div class="inputting_listTltie">* 负责人</div>
																		<div>
																			<input class="inputting_listInput" type="text" name="head" id="head"/>
																		</div>
																		<div class="inputting_listTltie">* 权限</div>
																		<div>
																			<input class="dxk" type="radio" name="permissions" id="permissions" value="0" checked="checked" />普通用户
																			<input class="dxk" type="radio" name="permissions" id="permissions" value="2" />实验室
																		</div>
															 		</div>
															 	</div>
															 	<div class="infoBox">
																	<input type="submit" id="subBtn" value="提交">
														 		</div>
															</div>
														</div>
													</div>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{/block}