{extend name="public:cssjs" /}
{block name="main"}
<section id="page">
	<div class="container heightDataAll">
		<div class="row heightDataAll">
			<div id="content" class="col-lg-12">
				<!-- PAGE HEADER-->
				<div class="row">
					<div class="col-sm-12">
						<div class="page-header">
							<div class="clearfix">
								<h3 class="content-title pull-left">修改密码</h3>
							</div>
							<div class="description">修改密码</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<!-- BOX -->
						<div class="box border">
							<div class="box-title">
								<h4><i class="fa fa-th"></i><span class="hidden-inline-mobile">修改密码</span></h4>
							</div>
							<div class="box-body">
								<div class="tabbable header-tabs">
								    <ul class="nav nav-tabs">
									    <li><a href="#box_tab5" data-toggle="tab"><i class="fa fa-flask"></i> <span class="hidden-inline-mobile">修改密码</span></a></li>
								    </ul>
								    <div class="tab-content">
									    <div class="tab-pane fade in active" id="box_tab4">
									 		<div class="inputBox">
									 			<label for="username"><span>新密码: </span>
									 				<input type="password" name="username" id="username" />
									 			</label>
									 		</div>
									 		<div class="inputBox">
									 			<label><span>确认新密码: </span>
									 				<input type="password" name="qdusername" id="username" />
									 			</label>
									 		</div>
										 	<div>
										 		<input type="submit" value="确认修改" name="submit">
										 	</div>
									 	</div>
								  	</div>
							   	</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{/block}
{block name="js"}
<script type="text/javascript">
	$('input[name=submit]').click(function () {
		var username=$('input[name=username]').val();
		var qdusername=$('input[name=qdusername]').val();
		if (username == '') {
			alert('请填写新密码');
		}else if(qdusername == ''){
			alert('请填写确定新密码');
		}else if (username != qdusername ) {
			alert('密码不一致');
		}else{
			$.ajax({
	    		"type":"post",
	    		"url":"{:url('Login/ChangePassword')}",
	    		"dataType" : 'json',
	    		"data" : {
	    			username:username,
	    			qdusername:qdusername
	    		},
	    		success : function(data) {
	    			// console.log(data)  
	    			if (data.successof == 1) {
	    				alert(data.data); 
	    				window.location.href ="http://seq.aitagene.com/"; 
	    			}else{
	              	    alert(data.data);  
	    			}
	                //  window.location.reload() 
	            },  
	            error : function(data) {  
	                alert("网络错误，请检查网络");  
	            }  
	    	});
		}
	});
</script>
{/block}