{extend name="public:header" /}
{block name="css"}
<style>
/* .sub_3{
	list-style: none;
	clear: both;
    margin-left: 25px;
    border-left: 1px dotted #fafafa;
    display: inline-block;
    position: relative;
    padding: 0px;
    margin-top: -8px;
    border-top: 1px dotted #fafafa;
} */
.sub_3 li{
	list-style: none;
	border-left: 1px dotted #fff;
    margin: 0 !important;
	/*border-top: 1px dotted #fafafa;*/
}
/*.sub_3 li span{
	border-top: 1px dotted #fff;
}*/
.sub_3 li a{
	margin-left: 15px;
    color: #fff;
    text-decoration: none;
}
</style>
{/block}
{block name="main"}
	{include file="public:left" /}
{/block}
{block name="js"}
<script type="text/javascript">
    setInterval(function working(){ 
        window.location.reload()
    },86400000);
</script>
{/block}