<section id="page">
	<!-- SIDEBAR 侧边栏-->
<div id="sidebar" class="sidebar">
	<div class="sidebar-menu nav-collapse">
		<div class="divide-20"></div>
		<ul class="indexUl">
			<li class="has-sub">
				<a class="">
				<img class="sidebar_icon" src="__PUBLIC__/img/newIcon/icon_setting.png" alt=""><span class="menu-text">系统管理</span>
				<span class="arrow"></span>
				</a>
				<ul class="sub">
					<li><a class="" href="{:url('Superconservator/superconservatoruser')}" target='demo_frame'><span class="sub-menu-text">用户管理</span></a></li>
				</ul>
			</li>
		</ul>
	</div>
</div>
	<!--测试分页-->
<div style="height: 100%">
	<div style="height: 100%">
		<iframe style="overflow:auto;margin-left: 14%;" width="86%" height="100%" name="demo_frame" frameborder="0" id="iframesrc"></iframe>
	</div>
</div>
</section>
