<section id="page">
		<!-- SIDEBAR 侧边栏-->
	<div class="container" style="height: 100%;">
		<div class="row" style="height: 100%;">
			<div id="content" class="col-lg-12">
				<!-- PAGE HEADER-->
				<div class="row">
					<div class="col-sm-12">
						<div class="page-header">
							<div class="clearfix">
								<h3 class="content-title pull-left">{$bt.bt}</h3>
							</div>
							<ul class="breadcrumb">
								<li>
									<span>您目前所在的位置:</span>
									<!-- <i class="fa fa-home"></i> -->
									<a href="#">{$bt.bt}</a>
								</li>
								<li>
									<a href="#">{$bt.hasnot}</a>
								</li>
								<!--<li>user_tables</li>-->
							</ul>
						</div>
					</div>
				</div>
				{if ($hasnot ==1 or $hasnot ==3 or $hasnot ==5)}
				<div class="displaycode_addLists">
					<button class="button" id="button">{$bt.state}</button>
                </div>
                {/if}
				<div class="row">
					<div class="col-md-12">
						<!-- BOX -->
						<div class="box border">
							<div class="box-title">
								<h4><i class="fa fa-th"></i><span class="hidden-inline-mobile">{$bt.bt} | {$bt.hasnot}</span></h4>	
							</div>
							<div class="box-body">
								<div class="tabbable header-tabs">
								<div class="tab-content">
									<div class="tab-pane fade in active" id="box_tab4">
									 <!-- 临床信息录入 -->
									<!-- <input id="addTables" type="button" value="添加"> -->
								 	<table id="example" cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered table-hover">
										<thead>
											<tr>
												{if ($hasnot ==1 or $hasnot ==3 or $hasnot ==5)}
												<th><input type="checkbox" id="checkItems"></th>
												{/if}
												<th>编号</th>
												<th>姓名</th>
												<th>项目</th>
												<th>到样日期</th>
												<th>完成日期</th>
												<th>状态</th>
											</tr>
										</thead>
										<tbody id="idData">
											{volist name="querydata" id="sj"}
											<tr>
												{if ($hasnot ==1 or $hasnot ==3 or $hasnot ==5)}
												<td><input type="checkbox" name="userid[]" id="userid" value="{$sj.id}"></td>
												{/if}
												<td>{$sj.number}</td>
												<td>{$sj.username}</td>
												<td>{$sj.sampletypename}</td>
												<td>{$sj.sampledate}</td>
												<td>{$sj.completedate}</td>
												<td>{if ($sj.sample == 1)}已到样{/if}{if ($sj.sample == 2)}建库中{/if}{if ($sj.sample == 3)}上机中{/if}{if ($sj.sample == 4)}数据分析{/if}{if ($sj.sample == 5)}下载{/if}</td>
												
											</tr>
											{/volist}
											{empty name="querydata"}
											<tr>
												<td {if ($hasnot ==1 or $hasnot ==3 or $hasnot ==5)} colspan="7" {else /} colspan="6" {/if} style="text-align: center;">未查到数据......</td>
											</tr>
											{/empty}
										</tbody>
									</table>
									{$querydata->render()}
									</div>
								</div>
							    </div>
							</div>
						</div>
					</div>
				</div>
				<div class="footer-tools">
					<span class="go-top">
						<i class="fa fa-chevron-up"></i> Top
					</span>
				</div>
			</div>
		</div>
	</div>
</section>
{block name="js"}
<script type="text/javascript">
document.getElementById('checkItems').onclick=function() {  
 // 获取所有的复选框  
    var checkElements=document.getElementsByName('userid[]');  
    if (this.checked) {  
        for(var i=0;i<checkElements.length;i++){  
            var checkElement=checkElements[i];  
            checkElement.checked="checked";  
        }  
        //console.log(checkElements.length)
        /*$(".gs").html("选中"+checkElements.length+"个默认板的位置有"+sl+"个");
        j=checkElements.length;*/
    }  
    else{  
        for(var i=0;i<checkElements.length;i++){  
            var checkElement=checkElements[i];  
            checkElement.checked=null;  
        } 
        //console.log(checkElements.length) 
        /*$(".gs").html('');
        j=0;*/
    }
}
/*check=document.getElementsByName('check[]');
for (var i = 0; i < check.length; i++) {
		function item(i) {
			check[i].onclick=function () {
				//var count=0;
			if (this.checked) {  
				j++
				//console.log(checkItems.checked)
				//if (checkItems.checked) {}
			}else{
				j--
			}
			if (j==0) {
				$(".gs").html('');
			}else{
				$(".gs").html("选中"+j+"个默认板的位置有"+sl+"个");
			}
			//console.log(j)
			}
		}(i)
	item(i)
}*/
document.getElementById('button').onclick=function() {
	var chckBox = document.getElementsByName("userid[]");  
    var ids = ""; 
    for(var i =0 ; i<chckBox.length; i++){  
        if(chckBox[i].checked){  
            //ids.push({barcode:chckBox[i].value});
            ids += chckBox[i].value + ",";
            //console.log(abc)
        }  
    }
    if (ids == '') {
    	alert("请选择数据");
    }else{
    	$.ajax({
    		"type":"post",
    		"url":"{:url('Buildlibrarymanagement/BuildLibraryManagementState')}",
    		"dataType" : 'json',
    		"data" : {
    			id:ids,
    			hasnot:'{$hasnot}'
    		},
    		success : function(data) {
    			// console.log(data)  
    			if (data.successof == 1) {
    				alert(data.data); 
    				window.location.reload() 
    			}else{
              	    alert(data.data);  
    			}
                //  window.location.reload() 
            },  
            error : function(data) {  
                alert("网络错误，请检查网络");  
            }  
    	});
    }

}
 
</script>
{/block}