{extend name="public:cssjs" /}
{block name="css"}
<style>
.userBox{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: rgba(0,0,0,0.5);
    z-index: 999;
}
.listBox{
    position: absolute;
    top: 200px;
    text-align: center;
    width: 100%;

}
.listUserData{
	margin: auto;
	background: #fff;
	width: 300px;
	padding: 5px 25px 25px;

}
.listUserData div{
	margin-top: 10px;
}

.listUserData div label{
	width: 30%;
}
.listDown{
	text-align: right;
}
.user_triangle{
    width: 0;
    height: 0;
	display: inline-block;
	margin-left: 20px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid #000;
}
.user_lower{
    width: 0;
    height: 0;
	display: inline-block;
	margin-left: 20px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #000;
}
#example{
	margin-top: 15px;
}
/*.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th{*/
	/*background: #D8DDE6;*/
/*}*/
</style>
{/block}
{block name="main"}
<section id="page">
		<!-- SIDEBAR 侧边栏-->
	<div class="container" style="height: 100%;">
		<div class="row" style="height: 100%;">
			<div id="content" class="col-lg-12">
				<!-- PAGE HEADER-->
				<div class="row">
					<div class="col-sm-12">
						<div class="page-header">
							<div class="clearfix">
								<h3 class="content-title pull-left">项目管理</h3>
							</div>
							<ul class="breadcrumb">
								<li>
									<span>您目前所在的位置:</span>
									<!-- <i class="fa fa-home"></i> -->
									<a href="#">系统管理</a>
								</li>
								<li>
									<a href="#">项目管理</a>
								</li>
								<!--<li>user_tables</li>-->
							</ul>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<!-- BOX -->
						<div class="box border">
							<div class="box-title">
								<h4><i class="fa fa-th"></i><span class="hidden-inline-mobile">项目管理</span></h4>	
							</div>
							<div class="box-body">
								<div class="tabbable header-tabs">
								<div class="tab-content">
									<div class="tab-pane fade in active" id="box_tab4">
									 <!-- 临床信息录入 -->
									<input id="addTables" type="button" value="添加">
								 	<table id="example" cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered table-hover">
										<thead>
											<tr>
												<th>项目名称</th>
												<th>价格</th>
											</tr>
										</thead>
										<tbody id="idData">
											{volist name="project" id="pt"}
											<tr>
												<td>{$pt.projectname}</td>
												<td>{$pt.price}</td>
											</tr>
											{/volist}
											{empty name="project"}
											<tr>
												<td colspan="2" style="text-align: center;">未查到数据......</td>
											</tr>
											{/empty}
										</tbody>
									</table>
									</div>
								</div>
							    </div>
							</div>
						</div>
					</div>
				</div>
				<div class="footer-tools">
					<span class="go-top">
						<i class="fa fa-chevron-up"></i> Top
					</span>
				</div>
			</div>
		</div>
	</div>
</section>
{/block}
{block name="js"}
<script>
	document.getElementById('addTables').onclick = function () {
		//alert('aaa');
	window.location.href="{:url('Project/projectAdd')}";
}
</script>
{/block}