<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<title>{$head.title} | {$bt.bt}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/cloud-admin.css" >
	<!-- 头部及侧边栏样式 -->
	<link rel="stylesheet" type="text/css"  href="__PUBLIC__/css/themes/default.css" id="skin-switcher" >
	<link rel="stylesheet" type="text/css"  href="__PUBLIC__/css/responsive.css" >
	<link href="__PUBLIC__/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/js/jquery-ui-1.10.3.custom/css/custom-theme/jquery-ui-1.10.3.custom.min.css" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/js/bootstrap-daterangepicker/daterangepicker-bs3.css" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/DataTables-1.10.15/media/css/jquery.dataTables.css" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/js/datatables/media/assets/css/datatables.min.css" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/js/datatables/extras/TableTools/media/css/TableTools.min.css" />
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="__PUBLIC__/css/sampleBatch.css">
	<link rel="stylesheet" href="__PUBLIC__/css/headerSib.css">
	{block name="css"}{/block}
</head>
<body>
	{block name="main"}{/block}
</body>
<script src="__PUBLIC__/js/jquery/mock.js"></script>
<script src="__PUBLIC__/js/jquery/jquery-2.0.3.min.js"></script>
<script src="__PUBLIC__/js/jquery/jquery.dropdown.js"></script>
<script src="__PUBLIC__/js/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.min.js"></script>
<!--<script src="__PUBLIC__/bootstrap-dist/js/bootstrap.min.js"></script>-->
<script src="__PUBLIC__/js/bootstrap-daterangepicker/moment.min.js"></script>
<script src="__PUBLIC__/js/bootstrap-daterangepicker/daterangepicker.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/jQuery-slimScroll-1.3.0/jquery.slimscroll.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/jQuery-slimScroll-1.3.0/slimScrollHorizontal.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/jQuery-BlockUI/jquery.blockUI.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/DataTables-1.10.15/media/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/DataTables-1.10.15/media/js/dataTables.bootstrap.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/datatables/media/assets/js/datatables.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/datatables/extras/TableTools/media/js/TableTools.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/datatables/extras/TableTools/media/js/ZeroClipboard.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/jQuery-Cookie/jquery.cookie.min.js"></script>
{block name="js"}{/block}